{% extends "base.html" %}

{% block title %}
  {{ board.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="#">Home</a></li>
  <li class="breadcrumb-item active">Shift</li>
{% endblock %}

{% block content %}
 <p>
 {% if shift_data %}

  <table class="table">
    <tr>
    <td colspan="2">{{ shift_data.SHIFT_DATE|date:"Y/m/d ’l’"  }} </td>
    </tr>

    {% if shift_data.KANGO1 is not None %}
    <tr>
    <td class="KANGO">看護1</td><td class="KANGO">{{ shift_data.KANGO1.STAFF_NAME }}</td>
    </tr>
    {% endif %}

    {% if shift_data.KANGO2 is not None %}
    <tr>
    <td class="KANGO">看護2</td><td class="KANGO">{{ shift_data.KANGO2.STAFF_NAME }}</td>
    </tr>
    {% endif %}

    {% if shift_data.SOUDANIN is not None %}
    <tr>
    <td class="SOUDANIN">相談員</td><td class="SOUDANIN">{{ shift_data.SOUDANIN.STAFF_NAME }}</td>
    </tr>
    {% endif %}

    {% if shift_data.HAYABAN is not None %}
    <tr>
    <td class="HAYABAN">早番</td><td class="HAYABAN">{{ shift_data.HAYABAN.STAFF_NAME }}</td>
    </tr>
    {% endif %}

    {% if shift_data.HAYABAN_E is not None %}
    <tr>
    <td class="HAYABAN">早番</td><td class="HAYABAN">{{ shift_data.HAYABAN_E.STAFF_NAME }}</td>
    </tr>
    {% endif %}

    {% if shift_data.NIKKIN is not None %}
    <tr>
    <td class="NIKKIN">日勤</td><td class="NIKKIN">{{ shift_data.NIKKIN.STAFF_NAME }}</td>
    </tr>
    {% endif %}

    {% if shift_data.NIKKIN_E is not None %}
    <tr>
    <td class="NIKKIN">日勤</td><td class="NIKKIN">{{ shift_data.NIKKIN_E.STAFF_NAME }}</td>
    </tr>
    {% endif %}

    {% if shift_data.NIKKIN1 is not None %}
    <tr>
    <td class="NIKKIN">日勤1</td><td class="NIKKIN">{{ shift_data.NIKKIN1.STAFF_NAME }}</td>
    </tr>
    {% endif %}

    {% if shift_data.NIKKIN2 is not None %}
    <tr>
    <td class="NIKKIN">日勤2</td><td class="NIKKIN">{{ shift_data.NIKKIN2.STAFF_NAME }}</td>
    </tr>
    {% endif %}

    {% if shift_data.OSOBAN is not None %}
    <tr>
    <td class="OSOBAN">遅番</td><td class="OSOBAN">{{ shift_data.OSOBAN.STAFF_NAME }}</td>
    </tr>
    {% endif %}

    {% if shift_data.OSOBAN_E is not None %}
    <tr>
    <td class="OSOBAN">遅番</td><td class="OSOBAN">{{ shift_data.OSOBAN_E.STAFF_NAME }}</td>
    </tr>
    {% endif %}

    {% if shift_data.NIKKIN_E1 is not None %}
    <tr>
    <td class="NIKKIN_E">日勤その他1</td><td class="NIKKIN_E">{{ shift_data.NIKKIN_E1.STAFF_NAME }}</td>
    </tr>
    {% endif %}

    {% if shift_data.NIKKIN_E2 is not None %}
    <tr>
    <td class="NIKKIN_E">日勤その他2</td><td class="NIKKIN_E">{{ shift_data.NIKKIN_E2.STAFF_NAME }}</td>
    </tr>
    {% endif %}

    {% if shift_data.NIKKIN_E3 is not None %}
    <tr>
    <td class="NIKKIN_E">日勤その他3</td><td class="NIKKIN_E">{{ shift_data.NIKKIN_E3.STAFF_NAME }}</td>
    </tr>
    {% endif %}

    {% if shift_data.YAKIN is not None %}
    <tr>
    <td class="YAKIN">夜勤</td><td class="YAKIN">{{ shift_data.YAKIN.STAFF_NAME }}</td>
    </tr>
    {% endif %}

    {% if event_data_list|length %}
    <tr>
      <td>イベント</td>
      <td>
        {% for event_data in event_data_list %}
         {{event_data.EV_KND}}&nbsp;{{event_data.RIYOSYA|default_if_none:""}}&nbsp;
         {{event_data.EV_TIME|default_if_none:""}}{{event_data.HT_KBN|default_if_none:""}}&nbsp;
         {{event_data.EV_GO|default_if_none:""}}{{event_data.NAIYO|default_if_none:""}}
         </br>
        {% endfor %}
      </td>
    </tr>
    {% endif %}

    <tr>
    <td>メモ</td>
    <td>
      {% if shift_data.MEMO is not None %}
      {{ shift_data.MEMO }}
      {% endif %}
    </td>
    </tr>
  </table>
 {% endif %}
    <p class=".text-center">
      <div>
        <a href="{% url "shift_day" prev_day|date:"Y-m-d" %}"><i class="fas fa-arrow-left"></i>前日</a>
        <a href="{% url "shift_day" today|date:"Y-m-d" %}">今日:{{today|date:"Y/m/d"}}</a>
        <a href="{% url "shift_day" next_day|date:"Y-m-d" %}">翌日<i class="fas fa-arrow-right"></i></a>
      </div>
    </p>
</p>
{% endblock %}
