{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}

{% endblock %}

{% block nav_kiroku %}active{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'kiroku_home' %}">記録</a></li>
  <li class="breadcrumb-item active">新規記録</li>
{% endblock %}

{% block content %}
{% for error in form.non_field_errors %}
    <small><div class="text-danger">{{ error }}</div></small>
{% endfor %}

{# {{ form.errors }} #}

<form method="post" novalidate>
  {% csrf_token %}
  <h2 class="mb-3">{{ riyosya.name }}</h2>
  {{ form.exec_date.as_hidden }}
  {{ form.day_night.as_hidden }}
  {{ form.riyosya.as_hidden }}
  <div class="border rounded mb-3 py-3 px-3">
  {% if form.is_bound %}
    <div class="form-group">
      <div class="form-control-sm" for="{{ form.date.label }}">
        日付
      </div>
      <div>
        {{ form.date }}
      </div>
    </div>

    <div class="form-group">
    {{ form.time.label }}
    {% if form.time.errors %}
      {{ form.time|add_class:'is-invalid' }}
      {% for error in form.time.errors %}
        <small><div class="text-danger">{{ error }}</div></small>
      {% endfor %}
    {% else %}
      {{ form.time|add_class:'is-valid' }}
    {% endif %}
    </div>

    <div class="form-group">
    {{ form.memo.label }}
    {% if form.memo.errors %}
      {{ form.memo|add_class:'is-invalid' }}
      {% for error in form.memo.errors %}
        <small><div class="text-danger">{{ error }}</div></small>
      {% endfor %}
    {% else %}
      {{ form.memo|add_class:'is-valid' }}
    {% endif %}
    </div>
  {% else %}
    <div class="form-group">
      {{ form.date.label }}
      {{ form.date }}
    </div>
    <div class="form-group">
      {{ form.time.label }}
      {{ form.time }}
    </div>
    <div class="form-group">
      {{ form.memo.label }}
      {{ form.memo }}
    </div>
  {% endif %}
  </div>

  {% if go_to_back %}
    <button type="submit" class="btn btn-success">登録して一覧へ戻る>></button>
    <a href="{% url 'kiroku_day_list' target_day.year target_day.month target_day.day day_night%}" class="btn btn-primary">登録しないで一覧へ戻る >></a>
  {% else %}
    <button type="submit" class="btn btn-success">登録して次へ >></button>
    <a href="{% url 'kiroku_renzoku_create' target_day.year target_day.month target_day.day day_night riyosya_order_list_idx %}" class="btn btn-primary">登録しないで次へ >></a>
    <div>次は {{ next_riyosya.name }}</div>
  {% endif %}

</form>
{% endblock %}
