{% extends "base.html" %}

{% load lookup %}

{% block title %}

{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'renraku_list' %}">連絡</a></li>
  <li class="breadcrumb-item active">個人連絡</li>
{% endblock %}

{% block content %}
<div class="mb-4">
  <a href="{% url 'renraku_kojin_create' %}" class="btn btn-primary">新規個人連絡</a>
  <a href="{% url 'renraku_list' %}" class="btn btn-info">全体連絡へ</a>
</div>

  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th style="width: 15%">日付</th>
        <th style="width: 15%">スタッフ</th>
        <th style="width: 15%">利用者</th>
        <th>内容</th>
      </tr>
    </thead>
    <tbody>
      {% for renraku_kojin in renraku_kojins %}
      <tr>
        <td>
          {{ renraku_kojin.date }}
        </td>
        <td>
          {{ renraku_kojin.staff.name }}
        </td>
        <td>
          {{ renraku_kojin.riyosya.name }}
        </td>
        <td>
          {{ renraku_kojin.memo }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
