{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}

{% endblock %}

{% block nav_riyosya %}active{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'riyosya_list' %}">利用者</a></li>
  <li class="breadcrumb-item active">退所</li>
{% endblock %}

{% block content %}
{% for error in form.non_field_errors %}
    <small><div class="text-danger">{{ error }}</div></small>
{% endfor %}

{# {{ form.errors }} #}

<form method="post" novalidate>
  {% csrf_token %}
  <h5 class="mb-3">{{ riyosyariyoukikan.riyosya.name }} / 退所処理</h5>
  <div class="border rounded mb-3 py-3 px-3">

    <div class="form-control-sm" for="{{ form.first_day.name }}">
      利用期間
    </div>
    <div class="form-inline">
        <div class="form-control-sm">
          {{ riyosyariyoukikan.start_day }} {{ riyosyariyoukikan.start_time|default:"" }} {{ riyosyariyoukikan.get_start_kbn_display }} ～
        </div>
    </div>
    {% if form.is_bound %}
      <div class="form-group">
      {{ form.last_day.label }}
      {% if form.last_day.errors %}
        {{ form.last_day|add_class:'is-invalid' }}
        {% for error in form.last_day.errors %}
          <small><div class="text-danger">{{ error }}</div></small>
        {% endfor %}
      {% else %}
        {{ form.last_day|add_class:'is-valid' }}
      {% endif %}
      </div>

      <div class="form-group">
      {{ form.last_time.label }}
      {% if form.last_time.errors %}
        {{ form.last_time|add_class:'is-invalid' }}
        {% for error in form.last_time.errors %}
          <small><div class="text-danger">{{ error }}</div></small>
        {% endfor %}
      {% else %}
        {{ form.last_time|add_class:'is-valid' }}
      {% endif %}
      </div>
      {{ form.last_kbn.label }}
      {{ form.last_kbn }}
    {% else %}
      <div class="form-group">
        {{ form.last_day.label }}
        {{ form.last_day }}
      </div>
      <div class="form-group">
        {{ form.last_time.label }}
        {{ form.last_time }}
      </div>
      <div class="form-group">
        {{ form.last_kbn.label }}
        {{ form.last_kbn }}
      </div>
    {% endif %}

    <div class="form-group">
      <div class="form-control-sm" for="{{ form.first_day.name }}">
        退所理由
      </div>
      <div class="form-inline">
        {{ form.memo }}
      </div>
    </div>

    <button type="submit" class="btn btn-success">登録</button>
  </div>
</form>
{% endblock %}
