{% extends "base.html" %}



{% block title %}

{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'riyosya_list' %}">利用者</a></li>
  <li class="breadcrumb-item active">新規入所</li>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col">
    <form method="post" class="col-6">
      {% csrf_token %}
      <div class="form-group">
        {{ form.first_day.label_tag }}
        {{ form.first_day }}
      </div>

      <div class="form-group">
        {{ form.name.label_tag }}
        {{ form.name }}
        {% for error in form.name.errors %}
          <small><div class="text-danger">・{{ error }}</div></small>
        {% endfor %}
      </div>

      <div class="form-group">
        {{ form.sex.label_tag }}<br>
        {{ form.sex }}
      </div>
      <div class="form-group-sm">
        {{ form.birthday.label_tag }}
        <div class="form-inline">
          {{ form.gengou }} {{ form.g_year }}  年 {{ form.month }}  月 {{ form.day }} 日
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-success">登録</button>
    </form>
  </div>
</div>


{% endblock %}
