{% extends "base.html" %}

{% load lookup %}

{% block title %}

{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active">利用者</li>
{% endblock %}

{% block content %}
  <div class="mb-4">
    <a href="{% url 'riyosya_new' %}" class="btn btn-primary">新規入所</a>
  </div>

  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>氏名</th>
        <th>誕生日/年齢</th>
        <th>連絡先</th>
        <th>ケアマネ</th>
      </tr>
    </thead>
    <tbody>
      {% for riyosya in riyosyas %}
      <tr>
        <td>
          <div>
            {{ riyosya.name }}
          </div>
          <small class="text-muted d-block">{{ riyosya.furigana }}</small>
        </td>
        <td>
          <div>
            {{ riyosya.birthday|seireki_to_wareki }}
            <small class="text-muted d-block">{{ riyosya.birthday  }}</small>
            <small class="text-muted d-block">{{ riyosya.birthday|calculate_age  }}歳</small>
          </div>
        </td>
        <td>
          <div>
            {% for renrakusaki in riyosya.renrakusakis.all %}
              {% if renrakusaki.primary_flg %}
                {{ renrakusaki.name }}
                <small class="text-muted d-block">{{ renrakusaki.zokugara }}</small>
                <small class="text-muted d-block">{{ renrakusaki.tel }}</small>
              {% endif %}
            {% endfor %}
          </div>
        </td>
        <td>
          <div>
            {{ riyosya.caremanager.name }}
          </div>
          <small class="text-muted">{{ riyosya.caremanager.kyotaku.name }}</small><br>
          <small class="text-muted d-block">{{ riyosya.caremanager.kyotaku.tel }}</small>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
