{% extends "base.html" %}



{% block title %}

{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'riyosya_list' %}">利用者</a></li>
  <li class="breadcrumb-item active">新規入所</li>
{% endblock %}

{% block content %}
{% for error in form.non_field_errors %}
    <small><div class="text-danger">{{ error }}</div></small>
{% endfor %}

<div class="row">
  <div class="col">
    <form method="post" class="col-6" novalidate>
      {% csrf_token %}
      <div class="form-group">
        <div class="form-control-sm" for="{{ form.first_day.name }}">
          {{ form.first_day.label }}
        </div>
        {{ form.first_day }}
        {% for error in form.first_day.errors %}
          <small><div class="text-danger">・{{ error }}</div></small>
        {% endfor %}
      </div>

      <div class="form-group">
        <div class="form-control-sm" for="{{ form.name.name }}">
          {{ form.name.label }}
        </div>
        {{ form.name }}
        {% for error in form.name.errors %}
          <small><div class="text-danger">・{{ error }}</div></small>
        {% endfor %}
      </div>

      <div class="form-group">
        <div class="form-control-sm" for="{{ form.furigana.name }}">
          {{ form.furigana.label }}
        </div>
        {{ form.furigana }}
        {% for error in form.furigana.errors %}
          <small><div class="text-danger">・{{ error }}</div></small>
        {% endfor %}
      </div>

      <div class="form-group">
        <div class="form-control-sm" for="{{ form.sex.name }}">
          {{ form.sex.label }}
        </div>
        {{ form.sex }}
      </div>

      <div class="form-group-sm">
        <div class="form-control-sm" for="{{ form.birthday.name }}">
          生年月日
        </div>
        <div class="form-inline">
          {{ form.gengou }} {{ form.g_year }}  年 {{ form.month }}  月 {{ form.day }} 日
        </div>
      </div>
      <br>

      <div class="form-group">
        <div class="form-control-sm" for="{{ form.caremanager.name }}">
          {{ form.caremanager.label }}
        </div>
        {{ form.caremanager }}
      </div>

      <button type="submit" class="btn btn-success">登録</button>
    </form>
  </div>
</div>


{% endblock %}
