{% extends "base.html" %}

{% block title %}

{% endblock %}

{% block nav_shift %}active{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'home' %}">シフト</a></li>

<li class="breadcrumb-item active">日別</li>
{% endblock %}

{% block content %}
<h2>
  <a href="{% url 'shift_day' prev_day.year prev_day.month prev_day.day %}">
    <i class="fas fa-angle-left"></i>
  </a>
  {{ target_day|date:"Y/m/d(l)" }}
  <a href="{% url 'shift_day' next_day.year next_day.month next_day.day %}">
    <i class="fas fa-angle-right"></i>
  </a>
</h2>
<table class="table">
  <thead>
    <tr>
      <th>業務</th>
      <th>スタッフ</th>
    </tr>
  </thead>
{% for shift in shifts %}
  <tbody>
    <tr>
      <td class="{{ shift.shift_knd.css_class }}">{{ shift.shift_knd.name }}</td>
      <td class="{{ shift.shift_knd.css_class }}">
        <a href="{% url 'shift_indiv' shift.staff.pk target_day.year target_day.month %}">
          <div>
            {{ shift.staff.name }}
          </div>
        </a>
      </td>
    </tr>
  </tbody>
{% endfor %}
</table>

<p class=".text-center">
  <div>
      <a href="{% url 'shift_day' prev_day.year prev_day.month prev_day.day %}">
        <i class="fas fa-angle-left"></i>
        前日
      </a>
      <a href="{% url 'home' %}">
        今日
      </a>
      <a href="{% url 'shift_day' next_day.year next_day.month next_day.day %}">
        翌日
        <i class="fas fa-angle-right"></i>
      </a>
  </div>
</p>
{% endblock %}
