{% extends "base.html" %}

{% load lookup %}

{% block title %}

{% endblock %}

{% block nav_renraku %}active{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'renraku_list' %}">連絡</a></li>
  <li class="breadcrumb-item active">個人連絡</li>
{% endblock %}

{% block content %}
<div class="mb-4">
  <a href="{% url 'renraku_kojin_create' %}" class="btn btn-primary">新規連絡</a>
    <a href="{% url 'login' %}?next={% url 'renraku_kojin_list' %}" class="btn btn-outline-secondary">ユーザー切り替え</a>
</div>

  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th style="width: 15%">日付</th>
        <th style="width: 15%">スタッフ</th>
        <th style="width: 15%">利用者</th>
        <th>内容</th>
      </tr>
    </thead>
    <tbody>
      {% for renraku_kojin in renraku_kojins %}
      <tr>
        <td>
          {{ renraku_kojin.date }}
        </td>
        <td>
          {{ renraku_kojin.staff.name }}
        </td>
        <td>
          <a href="{% url 'renraku_kojin_list_riyosya' renraku_kojin.riyosya.id %}" class="text-body">
            {{ renraku_kojin.riyosya.name }}
          </a>
        </td>
        <td>
          <a href="{% url 'renraku_kojin_detail' renraku_kojin.id %}" class="text-body">
          {{ renraku_kojin.memo|truncatechars:100 }}
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
