{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}

{% endblock %}

{% block nav_event %}active{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'event_list' %}">イベント</a></li>
  <li class="breadcrumb-item active">新規イベント</li>
{% endblock %}

{% block content %}

{% for error in form.non_field_errors %}
    <small><div class="text-danger">{{ error }}</div></small>
{% endfor %}

{{ form.errors }}

<script type="text/javascript">

  var events = [];
  {% for evnet_knd in event_knds %}
  events.push('{{ evnet_knd.css_class }}')
  {% endfor %}

  function click_event_knd(my, id) {
    for (var i = 0; i < events.length; i++) {
      if (events[i] != my) {
        $('#'+events[i]).collapse('hide');
      }
    }
    $('#id_knd').val(id)
  }
</script>

<div class="row">
  <div class="col">
    <form method="post" class="col-6" novalidate>
      <h2 class="mb-3">イベント新規作成</h2>
      {% csrf_token %}
      <div class="form-group">
        {% for evnet_knd in event_knds %}
        <a class="btn btn-primary" data-toggle="collapse" href="#{{ evnet_knd.css_class }}"
          aria-expanded="false" aria-controls="{{ evnet_knd.css_class }}" id="btn_{{ evnet_knd.css_class }}"
          onclick="click_event_knd('{{ evnet_knd.css_class }}', {{ evnet_knd.id }});">
            {{ evnet_knd.name }}
        </a>
        {% endfor %}
      </div>

      {{ form.knd.as_hidden }}

      {% if form.is_bound %}
        {% if form.date.errors %}
          <div class="form-group">
            {{ form.date.label }}
            {{ form.date|add_class:'is-invalid' }}
          </div>
          {% for error in form.date.errors %}
            <small><div class="text-danger">・{{ error }}</div></small>
          {% endfor %}
        {% else %}
          <div class="form-group">
            {{ form.date.label }}
            {{ form.date|add_class:'is-valid' }}
          </div>
        {% endif %}

        {% if form.time.errors %}
          <div class="form-group">
            {{ form.time.label }}
            {{ form.time|add_class:'is-invalid' }}
          </div>
          {% for error in form.date.errors %}
            <small><div class="text-danger">・{{ error }}</div></small>
          {% endfor %}
        {% else %}
          <div class="form-group">
            {{ form.time.label }}
            {{ form.time|add_class:'is-valid' }}
          </div>
        {% endif %}
      {% else %}
        <div class="form-group">
          {{ form.date.label }}
          {{ form.date }}
        </div>
        <div class="form-group">
        {{ form.time.label }}
        {{ form.time }}
        </div>
      {% endif %}

        <div class="collapse my-3" id="nyusyo">
          <div class="form-group">
            発着
            {{ form.ht_kbn_nyusyo }}
          </div>

          <div class="form-group">
            入所者氏名
            <input type="text" name="nyusyo_riyosya_name" value="" class="form-control">
          </div>

          <div class="form-group">
            運転手
            {{ form.d_staff_nyusyo }}
          </div>

          <div class="form-group">
            付添
            {{ form.t_staff_nyusyo }}
          </div>
        </div>

        <div class="collapse my-3" id="taisyo">
          <div class="form-group">
            発着
            {{ form.ht_kbn_nyusyo }}
          </div>

          <div class="form-group">
            退所者を選択
            {{ form.riyosya }}
          </div>

          <div class="form-group">
            運転手
            {{ form.d_staff }}
          </div>

          <div class="form-group">
            付添
            {{ form.t_staff }}
          </div>
        </div>

        <div class="collapse my-3" id="gaisyutu">
          <div class="form-group">
            発着
            {{ form.ht_kbn }}
          </div>

          <div class="form-group">
            利用者を選択
            {{ form.riyosya }}
          </div>

          <div class="form-group">
            運転手
            {{ form.d_staff }}
          </div>

          <div class="form-group">
            付添
            {{ form.t_staff }}
          </div>

          <div class="form-group">
            行き先等
            {# {{ form.naiyo }} #}
          </div>
        </div>
      <button type="submit" class="btn btn-success">登録</button>
    </form>
  </div>
</div>


{% endblock %}
