{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}

{% endblock %}

{% block nav_event %}active{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'event_list' %}">イベント</a></li>
  <li class="breadcrumb-item active">新規イベント</li>
{% endblock %}

{% block content %}

{% for error in form.non_field_errors %}
    <small><div class="text-danger">{{ error }}</div></small>
{% endfor %}

{{ form.errors }}

<div class="row">
  <div class="col">
    <form method="post" class="col-6" novalidate>
      <h2 class="mb-3">イベント新規作成</h2>
      {% csrf_token %}
      <div class="form-group">
        {% for event_knd in event_knds %}
          {% if event_knd.id == event_knd_id %}
            <a class="btn btn-secondary" href="#">
          {% else %}
            <a class="btn btn-primary" href="{% url 'event_create' event_knd.id %}">
          {% endif %}
          {{ event_knd.name }}
        </a>
        {% endfor %}
      </div>

      {{ form.knd.as_hidden }}

      {% if event_knd_id != 0 %}
        {% if form.is_bound %}
          {% if form.date.errors %}
            <div class="form-group">
              {{ form.date.label }}
              {{ form.date|add_class:'is-invalid' }}
            </div>
            {% for error in form.date.errors %}
              <small><div class="text-danger">・{{ error }}</div></small>
            {% endfor %}
          {% else %}
            <div class="form-group">
              {{ form.date.label }}
              {{ form.date|add_class:'is-valid' }}
            </div>
          {% endif %}

          {% if form.time.errors %}
            <div class="form-group">
              {{ form.time.label }}
              {{ form.time|add_class:'is-invalid' }}
            </div>
            {% for error in form.date.errors %}
              <small><div class="text-danger">・{{ error }}</div></small>
            {% endfor %}
          {% else %}
            <div class="form-group">
              {{ form.time.label }}
              {{ form.time|add_class:'is-valid' }}
            </div>
          {% endif %}
        {% else %}
          <div class="form-group">
            {{ form.date.label }}
            {{ form.date }}
          </div>
          <div class="form-group">
          {{ form.time.label }}
          {{ form.time }}
          </div>
        {% endif %}
      {% endif %}

      {% if event_knd_id == 1 %}
        <div class="my-3" id="nyusyo">
          <div class="form-group">
            発着
            {{ form.ht_kbn }}
          </div>

          <div class="form-group">
            入所者氏名を入力
            {{ form.naiyo}}
            または、退所者から選択
            {{ form.riyosya }}
          </div>

          <div class="form-group">
            運転手
            {{ form.d_staff }}
          </div>

          <div class="form-group">
            付添
            {{ form.t_staff }}
          </div>
        </div>
      {% endif %}

      {% if event_knd_id == 2 %}
        <div class="my-3" id="taisyo">
          <div class="form-group">
            発着
            {{ form.ht_kbn }}
          </div>

          <div class="form-group">
            退所者を選択
            {{ form.riyosya }}
          </div>

          <div class="form-group">
            運転手
            {{ form.d_staff }}
          </div>

          <div class="form-group">
            付添
            {{ form.t_staff }}
          </div>

        </div>
      {% endif %}

      {% if event_knd_id == 3 %}
        <div class="my-3" id="gaisyutu">
          <div class="form-group">
            発着
            {{ form.ht_kbn }}
          </div>

          <div class="form-group">
            利用者を選択
            {{ form.riyosya }}
          </div>

          <div class="form-group">
            運転手
            {{ form.d_staff }}
          </div>

          <div class="form-group">
            付添
            {{ form.t_staff }}
          </div>

          <div class="form-group">
            内容
            {{ form.naiyo }}
          </div>
        </div>
      {% endif %}

      {% if event_knd_id == 4 %}
        <div class="my-3" id="jusin">
          <div class="form-group">
            発着
            {{ form.ht_kbn }}
          </div>

          <div class="form-group">
            利用者を選択
            {{ form.riyosya }}
          </div>

          <div class="form-group">
            運転手
            {{ form.d_staff }}
          </div>

          <div class="form-group">
            付添
            {{ form.t_staff }}
          </div>

          <div class="form-group">
            内容
            {{ form.naiyo }}
          </div>
        </div>
      {% endif %}

      {% if event_knd_id == 5 %}
        <div class="my-3" id="ousin">
          <div class="form-group">
            内容
            {{ form.naiyo }}
          </div>
        </div>
      {% endif %}

      {% if event_knd_id == 6 %}
        <div class="my-3" id="ousin">
          <div class="form-group">
            内容
            {{ form.naiyo }}
          </div>
        </div>
      {% endif %}

      {% if event_knd_id != 0 %}
        <button type="submit" class="btn btn-success">登録</button>
      {% endif %}
    </form>
  </div>
</div>


{% endblock %}
