{% extends "base.html" %}

{% load lookup %}

{% block title %}{% endblock %}

{% block nav_event %}active{% endblock %}

{% block script %}
<script type="text/javascript">
  window.addEventListener("DOMContentLoaded", function(){
    // 画面読み込み時の初期処理とか書く。
    window.scroll(0, {{ scroll_position }});
  }, false);
</script>
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active">イベント</li>
{% endblock %}


{% block content %}

<!-- モーダルの設定 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">削除の確認</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>削除します。よろしいですか？</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        <a id="delete_confirm" href="#">
          <button type="button" class="btn btn-primary" >削除</button>
        </a>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% for error in form.non_field_errors %}
    <small><div class="text-danger">{{ error }}</div></small>
{% endfor %}

<div class="row">
<div class="col">
  <h2 class="mb-3">
    <a href="{% url 'event_list' prev_YM.year prev_YM.month %}">
      <i class="fas fa-angle-left"></i>
    </a>
    {{ target_YM|date:"Y年m月" }}
    <a href="{% url 'event_list' next_YM.year next_YM.month %}">
      <i class="fas fa-angle-right"></i>
    </a>
  </h2>

  <table class="table">
    <thead>
      <tr>
        <th>日付</th>
        <th>イベント</th>
        <th>入退所</th>
      </tr>
    </thead>
    <tbody>
    {% for day in days %}
      <tr id="{{ day|date:"Y-n-j" }}">
        <td style="width: 1rem">
          <div>
            {{ day|date:"m/d" }}
          </div>
          <div>
            <a id="add-{{ day|date:"Y-m-d" }}" href="#"
              onclick="document.getElementById('add-{{ day|date:"Y-m-d" }}').href='{% url 'event_create' day.year day.month day.day 0 'dummy' %}'.replace('dummy', window.scrollY)">
              <i class="fas fa-plus text-dark"></i>
            </a>
          </div>
        </td>
        <td class="p-0">
          {% for event in events|get_events:day %}
          <div class="my-2">
            <div class="rounded text-center float-left {{ event.knd.css_class }} mr-2" style="width: 4rem">
              {{ event.knd.short_name }}
            </div>
            <div class="">
              {{ event.time|default:'' }} {{ event.ht_kbn|default:'' }}  {{ event.riyosya.name|default:'' }} {{ event.naiyo|default:'' }}
              <a href="#" data-toggle="modal" data-target="#myModal"
                onclick="document.getElementById('delete_confirm').href='{% url 'event_delete' day.year day.month day.day event.id 'dummy' %}'.replace('dummy', window.scrollY)">
                <i class="fas fa-trash-alt text-dark" ></i>
              </a>
            </div>
          </div>
          {% endfor %}
        </td>
        <td>
          {% for rs in day|get_nyutaisyo %}
            <a href="#" class="text-dark">
              <div class="{% if rs.order_time is None %}bg-warning{% endif %}">
                <small>
                  {% if rs.nyu == 0 %}
                  入所：
                  {% else %}
                  退所：
                  {% endif %}
                  {{ rs.riyosya.name }} {{ rs.order_time|default:'(時間未設定)' }}
                </small>
              </div>
            </a>
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endblock %}
