{% extends "base.html" %}

{% load widget_tweaks %}

{% load lookup %}

{% block title %}

{% endblock %}

{% block nav_riyosya %}active{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'riyosya_list' %}">利用者一覧</a></li>
  <li class="breadcrumb-item active">{{ rr.riyosya.name }} 退所日時登録</li>
{% endblock %}

{% block content %}
{# {{ form.errors }} #}

<h2>{{ rr.riyosya.name }} - 退所日時登録</h2>

<form method="post" novalidate>
  {% csrf_token %}
  <div class="rounded p-3 my-3 my_border col-6">
    <div class="mb-3">
      <small>・退所予定日時</small>
      <div>
        {{ rr.last_day}} {{ rr.last_time|default:'' }} {{ rr.get_last_kbn_display }}
      </div>
    </div>
    <div class="mb-2">
      <small>・実際の退所日時</small>
      <div class="form-inline">
        {% if form.is_bound %}
         {% if form.last_day.errors or form.last_time.errors %}
            {{ form.last_day|add_class:'is-invalid' }} {{ form.last_time|add_class:'is-invalid' }} {{ form.last_kbn|add_class:'is-invalid' }}
            {% for error in form.last_day.errors %}
              <small><div class="text-danger">・{{ error }}</div></small>
            {% endfor %}
            {% for error in form.last_time.errors %}
              <small><div class="text-danger">・{{ error }}</div></small>
            {% endfor %}
          {% else %}
            {{ form.last_day|add_class:'is-valid' }} {{ form.last_time|add_class:'is-valid' }} {{ form.last_kbn|add_class:'is-valid' }}
          {% endif %}
        {% else %}
          {{ form.last_day }} {{ form.last_time }} {{ form.last_kbn }}
        {% endif %}
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-success my-1">登録</button>
</form>
{% endblock %}
