{% extends "base.html" %}

{% load lookup %}

{% block title %}

{% endblock %}

{% block nav_riyosya %}active{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active">利用者</li>
{% endblock %}

{% block content %}
  <div class="mb-4">
    <a href="{% url 'riyosya_new' %}" class="btn btn-primary">新規入所</a>
    <a href="{% url 'taisyo_list' %}" class="btn btn-info">退所者一覧</a>
  </div>

  <div class="mb-4">
    <div class="">
      入所者数: {{ riyosya_count }} 名、 男: {{ riyosya_man_count }} 名、 女: {{ riyosya_woman_count }} 名
    </div>
  </div>

  <div class="d-none d-lg-block">
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>氏名</th>
        <th>誕生日/年齢</th>
        <th>連絡先</th>
        <th>ケアマネ</th>
        <th style="width: 10%"></th>
      </tr>
    </thead>
    <tbody>
      {% for riyosya in riyosyas %}
      <tr>
        <td>
          <a href="{% url 'riyosya_detail' riyosya.id %}"  class="text-dark">
            <div>
              {{ riyosya.name }}
            </div>
            <small class="text-muted d-block">{{ riyosya.furigana }}</small>
          </a>
        </td>
        <td>
          <div>
            <div>
              {{ riyosya.birthday|seireki_to_wareki }}
            </div>
            <small class="text-muted d-block">{{ riyosya.birthday  }}</small>
            <small class="text-muted d-block">{{ riyosya.birthday|calculate_age  }}歳</small>
          </div>
        </td>
        <td>
          <div>
            {% for renrakusaki in riyosya.renrakusakis.all %}
              {% if renrakusaki.primary_flg %}
                <div>
                  {{ renrakusaki.name }}
                </div>
                <small class="text-muted d-block">{{ renrakusaki.zokugara }}</small>
                <small class="text-muted d-block">{{ renrakusaki.tel }}</small>
              {% endif %}
            {% endfor %}
          </div>
        </td>
        <td>
          <div>
            {{ riyosya.caremanager.name }}
          </div>
          <small class="text-muted d-block">{{ riyosya.caremanager.kyotaku.name }}</small>
          <small class="text-muted d-block">{{ riyosya.caremanager.kyotaku.tel }}</small>
        </td>
        <td>
          <a href="#" class="btn btn-primary btn-sm mb-1" role="button">編集</a>
          <a href="{% url 'riyosya_taisyo' riyosya.get_riyoukikan_latest_id %}" class="btn btn-primary btn-sm" role="button">退所</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="d-inline d-lg-none">
  {% for riyosya in riyosyas %}
  <div class="border rounded mb-3 py-3 px-3">
    <div class="border-bottom">
      <a href="{% url 'riyosya_detail' riyosya.id %}"  class="text-body">
        <div>
          {{ riyosya.name }}
        </div>
        <small class="text-muted d-block">{{ riyosya.furigana }}</small>
      </a>
      {{ riyosya.birthday|seireki_to_wareki }}
      <small class="text-muted d-block">{{ riyosya.birthday  }}</small>
    </div>

    <div class="border-bottom">
      {% for renrakusaki in riyosya.renrakusakis.all %}
        {% if renrakusaki.primary_flg %}
          <div>
            {{ renrakusaki.name }}
          </div>
          <small class="text-muted d-block">{{ renrakusaki.zokugara }}</small>
          <small class="text-muted d-block">{{ renrakusaki.tel }}</small>
        {% endif %}
      {% endfor %}
    </div>
    <div class="border-bottom">
      <div>
        {{ riyosya.caremanager.name }}
      </div>
      <small class="text-muted d-block">{{ riyosya.caremanager.kyotaku.name }}</small>
      <small class="text-muted d-block">{{ riyosya.caremanager.kyotaku.tel }}</small>
    </div>
    <div class="my-1">
      <a href="#" class="btn btn-primary btn-sm" role="button">編集</a>
      <a href="{% url 'riyosya_taisyo' riyosya.get_riyoukikan_latest_id %}" class="btn btn-primary btn-sm" role="button">退所</a>
    </div>
  </div>
  {% endfor %}
{% endblock %}
