{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}

{% endblock %}

{% block nav_riyosya %}active{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'riyosya_list' %}">利用者一覧</a></li>
  <li class="breadcrumb-item active">新規利用登録</li>
{% endblock %}

{% block content %}
{% for error in form.non_field_errors %}
    <small><div class="text-danger">{{ error }}</div></small>
{% endfor %}

{# {{ form.errors }} #}
<h2>{{ target_day }} 新規利用登録</h2>
<hr>
  <form method="post" novalidate>
    {% csrf_token %}
      <div class="row">
        <div class="col-lg">
          <div>
            <h5>利用者情報</h5>
          </div>

          <div class="border rounded mb-3 py-3 px-3">
            <div class="form-group">
              <div class="form-control-sm" for="{{ form.first_day.name }}">
                利用開始予定日
              </div>

              {% if form.is_bound %}
                {% if form.y_start_day.errors %}
                  <div class="form-inline">
                    {{ form.y_start_day|add_class:'is-invalid' }} {{ form.y_start_time|add_class:'is-invalid' }} {{ form.y_start_kbn|add_class:'is-invalid' }}
                  </div>
                  {% for error in form.y_start_day.errors %}
                    <small><div class="text-danger">・{{ error }}</div></small>
                  {% endfor %}
                {% else %}
                <div class="form-inline">
                  {{ form.y_start_day|add_class:'is-valid' }} {{ form.y_start_time|add_class:'is-valid' }} {{ form.y_start_kbn|add_class:'is-valid' }}
                </div>
                {% endif %}
              {% else %}
                <div class="form-inline">
                  {{ form.y_start_day }} {{ form.y_start_time }} {{ form.y_start_kbn }}
                </div>
              {% endif %}
              <small><div class="text-muted">不明の場合は空白にしてください。</div></small>
            </div>

            <div class="form-group">
              <div class="form-control-sm" for="{{ form.first_day.name }}">
                利用終了予定日
              </div>

              {% if form.is_bound %}
                {% if form.y_last_day.errors %}
                  <div class="form-inline">
                    {{ form.y_last_day|add_class:'is-invalid' }} {{ form.y_last_time|add_class:'is-invalid' }} {{ form.y_last_kbn|add_class:'is-invalid' }}
                  </div>
                  {% for error in form.y_last_day.errors %}
                    <small><div class="text-danger">・{{ error }}</div></small>
                  {% endfor %}
                {% else %}
                <div class="form-inline">
                  {{ form.y_last_day|add_class:'is-valid' }} {{ form.y_last_time|add_class:'is-valid' }} {{ form.y_last_kbn|add_class:'is-valid' }}
                </div>
                {% endif %}
              {% else %}
                <div class="form-inline">
                  {{ form.y_last_day }} {{ form.y_last_time }} {{ form.y_last_kbn }}
                </div>
              {% endif %}
              <small><div class="text-muted">不明の場合は空白にしてください。</div></small>
            </div>

            <div class="form-group">
              <div class="form-control-sm" for="{{ form.name.name }}">
                {{ form.name.label }}
              </div>
              {% if form.is_bound %}
                {% if form.name.errors %}
                {{ form.name|add_class:'is-invalid' }}
                  {% for error in form.name.errors %}
                    <small><div class="text-danger">・{{ error }}</div></small>
                  {% endfor %}
                {% else %}
                  {{ form.name|add_class:'is-valid' }}
                {% endif %}
              {% else %}
                {{ form.name }}
              {% endif %}
            </div>

            <div class="form-group">
              <div class="form-control-sm" for="{{ form.furigana.name }}">
                {{ form.furigana.label }}
              </div>
              {% if form.is_bound %}
                {% if form.furigana.errors %}
                {{ form.furigana|add_class:'is-invalid' }}
                  {% for error in form.furigana.errors %}
                    <small><div class="text-danger">・{{ error }}</div></small>
                  {% endfor %}
                {% else %}
                  {{ form.furigana|add_class:'is-valid' }}
                {% endif %}
              {% else %}
                {{ form.furigana }}
              {% endif %}
            </div>

            <div class="form-group">
              <div class="form-control-sm" for="{{ form.sex.name }}">
                {{ form.sex.label }}
              </div>
              {% if form.is_bound %}
                {{ form.sex|add_class:'is-valid' }}
              {% else %}
                {{ form.sex }}
              {% endif %}
            </div>

            <div class="form-group">
              <div class="form-control-sm" for="{{ form.birthday.name }}">
                生年月日
              </div>
              <div class="form-inline">
                {% if form.is_bound %}
                  {% if form.gengou.errors %}
                    {{ form.gengou|add_class:'is-invalid' }} {{ form.g_year|add_class:'is-invalid' }}  年 {{ form.month|add_class:'is-invalid' }}  月 {{ form.day|add_class:'is-invalid' }} 日
                    {% for error in form.gengou.errors %}
                      <small><div class="text-danger">・{{ error }}</div></small>
                    {% endfor %}
                  {% else %}
                    {{ form.gengou|add_class:'is-valid' }} {{ form.g_year|add_class:'is-valid' }}  年 {{ form.month|add_class:'is-valid' }}  月 {{ form.day|add_class:'is-valid' }} 日
                    {% endif %}
                {% else %}
                  {{ form.gengou }} {{ form.g_year }}  年 {{ form.month }}  月 {{ form.day }} 日
                {% endif %}
              </div>
            </div>

            <div class="form-group">
              <div class="form-control-sm" for="{{ form.addr.name }}">
                {{ form.addr.label }}
              </div>
              {% if form.is_bound %}
                {% if form.addr.errors %}
                {{ form.addr|add_class:'is-invalid' }}
                  {% for error in form.addr.errors %}
                    <small><div class="text-danger">・{{ error }}</div></small>
                  {% endfor %}
                {% else %}
                  {{ form.addr|add_class:'is-valid' }}
                {% endif %}
              {% else %}
                {{ form.addr }}
              {% endif %}
            </div>

            <div class="form-group">
              <div class="form-control-sm" for="{{ form.tel.name }}">
                {{ form.tel.label }}
              </div>
              {% if form.is_bound %}
                {% if form.tel.errors %}
                {{ form.tel|add_class:'is-invalid' }}
                  {% for error in form.tel.errors %}
                    <small><div class="text-danger">・{{ error }}</div></small>
                  {% endfor %}
                {% else %}
                  {{ form.tel|add_class:'is-valid' }}
                {% endif %}
              {% else %}
                {{ form.tel }}
              {% endif %}
            </div>

            <div class="form-group">
              <div class="form-control-sm" for="{{ form.youkaigodo.name }}">
                {{ form.youkaigodo.label }}
              </div>
              {% if form.is_bound %}
                {% if form.youkaigodo.errors %}
                {{ form.youkaigodo|add_class:'is-invalid' }}
                  {% for error in form.youkaigodo.errors %}
                    <small><div class="text-danger">・{{ error }}</div></small>
                  {% endfor %}
                {% else %}
                  {{ form.youkaigodo|add_class:'is-valid' }}
                {% endif %}
              {% else %}
                {{ form.youkaigodo }}
              {% endif %}
            </div>

            <div class="form-group">
              <div class="form-control-sm" for="{{ form.caremanager.name }}">
                {{ form.caremanager.label }}
              </div>
              {% if form.is_bound %}
                {% if form.caremanager.errors %}
                {{ form.caremanager|add_class:'is-invalid' }}
                  {% for error in form.caremanager.errors %}
                    <small><div class="text-danger">・{{ error }}</div></small>
                  {% endfor %}
                {% else %}
                  {{ form.caremanager|add_class:'is-valid' }}
                {% endif %}
              {% else %}
                {{ form.caremanager }}
              {% endif %}
            </div>

            <div class="form-group">
              <div class="form-control-sm" for="{{ form.caremanager.name }}">
                {{ form.memo.label }}
              </div>
              {% if form.is_bound %}
                {% if form.memo.errors %}
                {{ form.memo|add_class:'is-invalid' }}
                  {% for error in form.memo.errors %}
                    <small><div class="text-danger">・{{ error }}</div></small>
                  {% endfor %}
                {% else %}
                  {{ form.memo|add_class:'is-valid' }}
                {% endif %}
              {% else %}
                {{ form.memo }}
              {% endif %}
              <small class="form-text text-muted">
                {{ form.memo.help_text|safe }}
              </small>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <div>
              <h5>連絡先</h5>
            </div>
            <div class="border rounded mb-3 py-3 px-2 h-100">
              <div class="form-control-sm">
                {{ form.r_name_1.label }}
              </div>
                {{ form.r_name_1 }}
              <div class="form-control-sm">
                {{ form.r_furigana_1.label }}
              </div>
                {{ form.r_furigana_1 }}
              <div class="form-control-sm">
                {{ form.r_zoku_1.label }}
              </div>
                {{ form.r_zoku_1 }}
              <div class="form-control-sm">
                {{ form.r_addr_1.label }}
              </div>
                {{ form.r_addr_1 }}
              <div class="form-control-sm">
                {{ form.r_tel_1_1.label }}
              </div>
                {{ form.r_tel_1_1 }}
              <div class="form-control-sm">
                {{ form.r_tel_2_1.label }}
              </div>
                {{ form.r_tel_2_1 }}
            </div>

            <div class="border rounded mb-3 py-3 px-2 h-100">
              <div class="form-control-sm">
                {{ form.r_name_2.label }}
              </div>
                {{ form.r_name_2 }}
              <div class="form-control-sm">
                {{ form.r_furigana_2.label }}
              </div>
                {{ form.r_furigana_2 }}
              <div class="form-control-sm">
                {{ form.r_zoku_2.label }}
              </div>
                {{ form.r_zoku_2 }}
              <div class="form-control-sm">
                {{ form.r_addr_2.label }}
              </div>
                {{ form.r_addr_2 }}
              <div class="form-control-sm">
                {{ form.r_tel_1_2.label }}
              </div>
                {{ form.r_tel_1_2 }}
              <div class="form-control-sm">
                {{ form.r_tel_2_2.label }}
              </div>
                {{ form.r_tel_2_2 }}
            </div>
          </div>
        </div>
      </div>
      <row>
        <button type="submit" class="col btn btn-success my-4">登録</button>
      </row>
  </form>
{% endblock %}
