{% extends "base.html" %}

{% load lookup %}

{% block title %}

{% endblock %}

{% block nav_riyosya %}active{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'riyosya_list' %}">利用者一覧</a></li>
  <li class="breadcrumb-item active">退所者一覧</li>
{% endblock %}

{% block content %}
<h2>{{ target_day }} 退所者一覧</h2>
<div class="mb-4">
  <a href="{% url 'riyosya_new' %}" class="btn btn-primary">新規利用登録</a>
  <a href="{% url 'riyosya_list' %}" class="btn btn-info">利用者一覧</a>
  <a href="{% url 'riyosya_yotei_list' %}" class="btn btn-info">利用予定者一覧</a>
  <a href="#" class="btn btn-secondary">退所者一覧</a>
</div>

  <div class="d-none d-lg-block">
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>氏名</th>
        <th>退所日</th>
        <th>誕生日</th>
        <th>連絡先</th>
        <th>ケアマネ</th>
        <th style="width: 10%"></th>
      </tr>
    </thead>
    <tbody>
      {% for riyosya in riyosyas %}
      <tr {% if riyosya.decease %}style="background-color: gainsboro"{% endif %}>
        <td>
          <a href="{% url 'taisyosya_detail' riyosya.id %}"  class="text-dark">
            <div>
              {{ riyosya.name }}
              {% if riyosya.decease %}
              (死亡)
              {% endif %}
            </div>
            <small class="text-muted d-block">{{ riyosya.furigana }}</small>
          </a>
        </td>
        <td>
          <div>
            {{ riyosya.last_day|seireki_to_wareki }}
          </div>
          <small class="text-muted d-block">{{ riyosya.last_day|default:"" }}</small>
        </td>
        <td>
          <div>
            <div>
              {{ riyosya.birthday|seireki_to_wareki }}
            </div>
            <small class="text-muted d-block">{{ riyosya.birthday  }}</small>
          </div>
        </td>
        <td>
          <div>
            {% for renrakusaki in riyosya.renrakusakis.all %}
              {% if renrakusaki.primary_flg %}
                <div>
                  {{ renrakusaki.name }}
                </div>
                <small class="text-muted d-block">{{ renrakusaki.zokugara }}</small>
                <small class="text-muted d-block">{{ renrakusaki.tel }}</small>
              {% endif %}
            {% endfor %}
          </div>
        </td>
        <td>
          <div>
            {{ riyosya.caremanager.name }}
          </div>
          <small class="text-muted d-block">{{ riyosya.caremanager.kyotaku.name }}</small>
          <small class="text-muted d-block">{{ riyosya.caremanager.kyotaku.tel }}</small>
        </td>
        <td>
          {% if riyosya.decease == False %}
            <a href="{% url 'riyosya_renew' riyosya.id 'taisyo_list' %}" class="btn btn-primary btn-sm" role="button">再利用</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>

  <div class="d-inline d-lg-none">
    {% for r in riyosyas %}
    <div class="border rounded mb-3 py-3 px-3" {% if r.decease %}style="background-color: gainsboro"{% endif %}>
      <div class="border-bottom">
        <a href="{% url 'taisyosya_detail' r.id %}"  class="text-dark">
          <div>
            {{ r.name }} {% if r.decease %}(死亡){% endif %}
          </div>
          <small class="text-muted d-block">{{ r.furigana }}</small>
        </a>
        {{ r.birthday|seireki_to_wareki }} {% if r.decease == False %} ({{ r.birthday|calculate_age }}歳) {% endif %}
        <small class="text-muted d-block">{{ r.birthday  }}</small>
      </div>

      {% if r.renrakusakis.all %}
      <div class="border-bottom">
        {% for renrakusaki in r.renrakusakis.all %}
          {% if renrakusaki.primary_flg %}
            <div>
              {{ renrakusaki.name }}
            </div>
            <small class="text-muted d-block">{{ renrakusaki.zokugara }}</small>
            <small class="text-muted d-block">{{ renrakusaki.tel }}</small>
          {% endif %}
        {% endfor %}
      </div>
      {% endif %}

      <div class="border-bottom">
        <div>
          {{ r.caremanager.name }}
        </div>
        <small class="text-muted d-block">{{ r.caremanager.kyotaku.name }}</small>
        <small class="text-muted d-block">{{ r.caremanager.kyotaku.tel }}</small>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}
