@import url("header.css");
@import url("table.css");

html {
  font-size: 18px;
  overflow-y: scroll;
}

@media (min-width: 0px) {
  h2 {
    font-size: 1.2rem;
  }
  td {
    font-size: 0.8rem;
  }
}

@media (min-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }
  td {
    font-size: 1rem;
  }
}

.nyusyo {
  color: white;
  background-color: royalblue;
  border-style: solid;
  border-color: gray;
}

.taisyo {
  color: white;
  background-color: crimson;
  border-style: solid;
  border-color: gray;
}

.gaisyutu {
  color: black;
  background-color: lightyellow;
  border-style: solid;
  border-color: gray;
}

.jusin {
  color: black;
  background-color: lightgreen;
  border-style: solid;
  border-color: gray;
}

.ousin {
  color: black;
  background-color: blanchedalmond;
  border-style: solid;
  border-color: gray;
}

.sonota {
  color: black;
  background-color: white;
  border-style: solid;
  border-color: gray;
}

.form-control::placeholder{
  color: #cccccc;
  font-size: 0.8rem;
}

.my_border{
  border: 1px solid #aaa;
}

table.kiroku_detail td, th{
    font-size: 0.8rem;
}
