table {
  border: 1px solid #aaa;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 6px;
  overflow: hidden;
}

table tbody tr:last-child td {
  border-bottom: none;
}

td {
  width :350px;
  padding: .6em 1em;
  border-bottom: 1px solid #aaa;
}

.hayaban {
  background-color: #e0ffff;
}

.nikkin {
  background-color: #e0ffef;
}

.nikkin_e {
  background-color: #fff7ef;
}

.osoban {
  background-color: #f4eaff;
}

.yakin {
  background-color: #dcdcdc;
}

.kango {
  background-color: #ffeaea;
}

.soudanin {
  background-color: #ffffef;
}
