{% extends "base.html" %}

{% load lookup %}

{% block title %}

{% endblock %}

{% block nav_renraku %}active{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'renraku_list' %}">連絡</a></li>
  <li class="breadcrumb-item active">全体連絡</li>
{% endblock %}

{% block content %}
<div class="mb-4">
  <a href="{% url 'renraku_create' %}" class="btn btn-primary">新規連絡</a>
</div>

  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th style="width: 15%">日付</th>
        <th style="width: 15%">スタッフ</th>
        <th>内容</th>
      </tr>
    </thead>
    <tbody>
      {% for renraku in renrakus %}
      <tr>
        <td>
          {{ renraku.date }}
        </td>
        <td>
          {{ renraku.staff.name }}
        </td>
        <td>
          <a href="{% url 'renraku_detail' renraku.id %}" class="text-body">
          {{ renraku.memo|truncatechars:100 }}
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
